*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header {
    height: 12vh;
    background-color: cadetblue;
    /* padding-top: 7%; */
}

.logo{
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    padding-bottom: 3%;
}

#menuID {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

#menuID a {
    text-decoration: none;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
}

.item {
    padding: 10px;
}

.item a:hover::after {
    color: #ccc;
}

a{
    color: antiquewhite;
    text-decoration: none;
    margin-left: 7%;
    font-size: 1.2em;
    text-align: center;

}
body{
    /* background-color: rgb(216, 205, 192); */
    background-color: #2A2D38;
}
.box-conteiner-1{
    width: 960px;
    padding-top: 2%;
    display: grid;
    grid-template-columns:
    repeat(auto-fit),minmax(180px,1fr);
    outline: 6px solid transparent;
    margin-left: 12%;

}

.content{

    padding: 20px;
    /* border: 2px solid transparent; */
    padding-right: 2px;

}
.parte_2 {
     grid-column-start: 4;
     grid-column-end: 5;
 }

footer{
    height: 8vh;
    /* margin-top: vh; */
    background-color: cadetblue;
    padding-top: 0%;
}
footer div {
    display: block;
    padding: 0.5vh;
    text-align: center;
    justify-content: center;
}
footer p{
    text-align: center;
    color: rgb(59, 57, 57);
    font-size: 1em;
    padding-left: 1%;
    padding-right: 1%;
}

h4{
    text-align: center;
    color: rgb(59, 57, 57);
    font-size: 1em;
    margin-left: 2%;
    margin-right: 5%;
   
}

@media only screen and (max-width: 575px) {
    header{
        height: auto;
    }

    #menuID {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }
    
    .item {
        padding: 0px;
    }
    
    #menuID a {
        margin-left: 0px;
    }
    
    #menuID li:first-child {
        border-bottom: 1px solid #ffffff; /* Línea debajo de cada elemento */
        padding: 0.5vh; /* Añadir algo de espacio para mejor visualización */
    }
    
    #menuID li a {
        display: block;
        padding: 15px 5px;
    }
    
    .toggle {
        order: 1;
        font-size: 20px;
    }
    
    .item {
        order: 1;
        width: 100%;
        text-align: center;
        display:block;
    }

    a{
        color: antiquewhite;
        text-decoration: none;
        margin-left: 2%;
        font-size: 0.9em;
        text-align: center;
    
    }

    section.movies-container {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .box-conteiner-1{
        width: 450px;
        padding-top: 1px;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 0px ;    
        margin-right: 0px;    
    }
    .content img{
        
        width:  140px ;
        height: 170px;
    }
    
    .content{
        
        padding: 0px;
        /* border: 2px solid transparent; */
        margin-bottom: 10px;
    
    }
    .parte_2 {
         grid-column-start: 2;
         grid-column-end: 3;
     }
    
    footer{
        height: auto;
    }

    footer div {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 4px;
    }
    
    footer div div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: auto;
        
    }
    
    footer div div img {
        display: block;
        padding: 2px;
        height: 25px;
        width: auto;
    }

    h4{
        text-align: center;
        color: rgb(59, 57, 57);
        font-size: 0.8em;
        margin-left: 2%;
        margin-right: 3%;
       
    } */
    

    body{
        background-color: #2A2D38;

    }
    
}

@media only screen and (min-width: 576px) and (max-width: 767px) { 

    header{
        height: auto;
    }
    
    #menuID {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }

    .item {
        padding: 0px;
    }

    #menuID a {
        margin-left: 0px;
    }

    #menuID li:first-child {
        border-bottom: 1px solid #ffffff; /* Línea debajo de cada elemento */
        padding: 0.5vh; /* Añadir algo de espacio para mejor visualización */
    }

    #menuID li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
    }

    .item {
        order: 1;
        width: 100%;
        text-align: center;
        display:block;
    }

    a{
        color: antiquewhite;
        text-decoration: none;
        margin-left: 2.5%;
        font-size: 1.1em;
        text-align: center;
    
    }
    
    section.movies-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .box-conteiner-1{
        width: 540px;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 6;
        
    
    
    
    }
    .content img{
        
        width:  170px ;
        height: 210px;
        
       

    }
    
    
    
    
    .content{
        
        padding: 3px;
        /* border: 2px solid transparent; */
        padding-right: 0px;
        margin-bottom: 10px;
    
    }
    .parte_2 {
         grid-column-start: 2;
         grid-column-end: 3;
     }
    
    footer{
        height: auto;
    }

    footer div {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 4px;
    }
    
    footer div div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: auto;
        
    }
    
    footer div div img {
        display: block;
        padding: 2px;
        height: 25px;
        width: auto;
    }


    h4{
        text-align: center;
        color: rgb(59, 57, 57);
        font-size: 1em;
        margin-left: 2%;
        margin-right: 3%;
       
    }
    
    


    body{
        background-color: #2A2D38;

    }
}
        
@media only screen and (min-width: 768px) and (max-width: 991px){
    header{
        height: auto;
    }
    
    #menuID {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }

    .item {
        padding: 0px;
    }

    #menuID a {
        margin-left: 0px;
    }

    #menuID li:first-child {
        border-bottom: 1px solid #ffffff; /* Línea debajo de cada elemento */
        padding: 0.5vh; /* Añadir algo de espacio para mejor visualización */
    }

    #menuID li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
    }

    .item {
        order: 1;
        width: 100%;
        text-align: center;
        display:block;
    }
    a{
        color: antiquewhite;
        text-decoration: none;
        margin-left: 5%;
        font-size: 1.2em;
        text-align: center;
    
    }
    
    .box-conteiner-1{
        width: 800px;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 4%;
       ;
        
    
    
    
    }
    .content img{
        
        width:  170px ;
        height: 210px;
        
       

    }
    
    
    
    
    .content{
        
        padding: 3px;
        /* border: 2px solid transparent; */
        padding-right: 0px;
        margin-bottom: 10px;
    
    }
    .parte_2 {
         grid-column-start: 3;
         grid-column-end: 4;
     }

    footer{
        height: auto;
    }


    footer div {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 4px;
    }

    footer div div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: auto;
        
    }

    footer div div img {
        display: block;
        padding: 2px;
        height: 25px;
        width: auto;
    }

    h4{
        text-align: center;
        color: rgb(59, 57, 57);
        font-size: 1em;
        margin-left: 2%;
        margin-right: 3%;
       
    }
    
    

body{
    background-color: #2A2D38;

}

}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    header{
        height: auto;
    }
    
    #menuID {
        display: flex;
        height: auto;
        align-items: center;  
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content:center;
        background: none;
    }

    .item {
        padding: 0px;
    }

    #menuID a {
        margin-left: 0px;
    }

    #menuID li:first-child {
        border-bottom: none;
        padding: 0.5vh;
    }

    #menuID li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
    }

    .item {
        order: 1;
        text-align: center;
        display:block;
        position: relative;
        display: block; 
        width: auto;
        padding: 0vh 5vh;
    }

    a{
        color: antiquewhite;
        text-decoration: none;
        margin-left: 5%;
        font-size: 1.2em;
        text-align: center;
    
    }
    
    /*.box-conteiner-1{
        width: 900px;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 10%;
       ;
        
    
    
    
    }
    .content img{
        
        width:  190px ;
        height: 230px;
        
       

    }
    
    
    
    
    .content{
        
        padding: 3px;
        /* border: 2px solid transparent; */
        /*padding-right: 0px;
        margin-bottom: 10px;
    
    }*/

    section.movies-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .box-conteiner-1 {
        width: 800px;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 0px;
    }
    .content img {
        width:  170px ;
        height: 210px;
    }
    
    .content{
        
        padding: 3px;
        /* border: 2px solid transparent; */
        padding-right: 0px;
        margin-bottom: 10px;
    
    }

    .parte_2 {
         grid-column-start: 3;
         grid-column-end: 4;
     }
    
    footer{
        height: auto;
    }

    footer div {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 4px;
    }

    footer div div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: auto;
        
    }

    footer div div img {
        display: block;
        padding: 2px;
        height: 25px;
        width: auto;
    }

    h4{
        text-align: center;
        color: rgb(59, 57, 57);
        font-size: 1em;
        margin-left: 2%;
        margin-right: 3%;
       
    }

}

@media only screen and (min-width: 1200px) {
    header{
        height: auto;
    }
    
    #menuID {
        display: flex;
        height: auto;
        align-items: center;  
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content:center;
        background: none;
    }

    .item {
        padding: 0px;
    }

    #menuID a {
        margin-left: 0px;
    }

    #menuID li:first-child {
        border-bottom: none;
        padding: 0.5vh;
    }

    #menuID li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
    }

    .item {
        order: 1;
        text-align: center;
        display:block;
        position: relative;
        display: block; 
        width: auto;
        padding: 0vh 5vh;
    }
    
    a{
        color: antiquewhite;
        text-decoration: none;
        margin-left: 5%;
        font-size: 1.2em;
        text-align: center;
    
    }
    
    /*.box-conteiner-1{
        width: 900px;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 10%;
       ;
        
    
    
    
    }
    .content img{
        
        width:  190px ;
        height: 230px;
        
       

    }
    
    
    
    
    .content{
        
        padding: 3px;
        /* border: 2px solid transparent; */
        /*padding-right: 0px;
        margin-bottom: 10px;
    
    }*/

    section.movies-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .box-conteiner-1 {
        width: auto;
        padding-top: 0;
        display: grid;
        grid-template-columns:
        repeat(2),minmax(300px,1fr);
        outline: 6px solid transparent;
        margin-left: 0px;
    }
    .content img {
        width:  170px ;
        height: 210px;
    }
    
    .content{
        
        padding: 10px;
        /* border: 2px solid transparent; */
        margin-bottom: 10px;
    
    }

    .parte_2 {
         grid-column-start: 4;
         grid-column-end: 5;
     }
    
    footer{
        height: auto;
    }

    footer div {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 4px;
    }

    footer div div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: auto;
        
    }

    footer div div img {
        display: block;
        padding: 2px;
        height: 25px;
        width: auto;
    }

    h4{
        text-align: center;
        color: rgb(59, 57, 57);
        font-size: 1em;
        margin-left: 2%;
        margin-right: 3%;
       
    }

    div.anima2 {
        margin-left: 250px;
    }

    
}
   
