<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/abigail.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Abigail</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    
    <img class="imagen" src="../img/peliculas/abigail-poster(1)-22.jpg" alt="Abigail" width="320px" height="440px" align="left">
     <h2>Abigail</h2>
     <p>
        La película se centra en un grupo de secuestradores que capturan y deben vigilar a Abigail,
        
         la hija de la figura más poderosa del hampa por el rescate de 50 millones de dólares,
        
         hasta que obtienen más de lo que negociaron cuando Abigail revela su verdadera naturaleza como niña vampira, 
         
         cazándolos uno por uno.
         
     </p>  
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/j49D1ept_ww?si=3rN_rIhyS7yckVoN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     

     <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
     </footer>  
</body>
   
</html>