<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/aespa.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Aespa: world tour</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>

    <img class="imagen" src="../img/peliculas/aespa2.jpg" alt="Aespa" width="320px" height="440px" align="left">
    <h2>Aespa: world tour</h2>
    <p>
        El primer concierto de aespa llega a los cines de todo el mundo! 
        <br>
        Ahora, adéntrate en el capítulo final de su gira mundial con aespa: WORLD TOUR en cines. Se testigo de la energía sin igual de la actuación en directo de aespa, capturada de su electrizante espectáculo en el O2 Arena de Londres, su primer concierto en el Reino Unido.

    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F4C5x31LeYI?si=OjuTJhLmi1z_EGln" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  



</body>
</html>