<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/amorSintiempo.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Amor sin tiempo</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/amor2.webp" alt="Amor sin tiempo" width="320px" height="440px" align="left">
     <h2>Amor sin tiempo</h2>
     <p>
        En un futuro próximo, en el que reina la inteligencia artificial, las emociones humanas se han
        
        convertido en una amenaza. Para deshacerse de ellas, Gabrielle tiene que purificar su ADN, 
        
        sumergiéndose en sus vidas pasadas. Allí volverá a encontrar a Louis, su gran amor.
         
        Pero le invade un temor, el presentimiento de que se prepara una catástrofe.
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WaEBpBf2Za8?si=Wa8hVxaU_1t4PKoF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <footer>
    
            <h4>Derechos reservados @2024</h4>
            <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
            <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
        </footer>  

</body>
</html>