<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/backTo.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Back to black</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/backToBlack(5).jpg" alt="Back to black" width="320px" height="440px" align="left">
    
    <h2>Back to black</h2>
     <p>
        Biopic que narrará la vida personal y profesional de la cantante y compositora Amy Winehouse, 
        
        que comenzó como cantante de jazz para convertirse en una superestrella mundial de la música ganadora de varios premios Grammy. 
        
        Su vida se truncó en 2011 a los 27 años provocada por una vida llena de consumo y abuso de alcohol y drogas.
        <br>


     </p>
     <br>
     <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/rOC7WOSupq8?si=bwd2Jta7LV9jFbOL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>   
</body>
</html>