<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/extraños.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Todos somos extraños</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/extraños(7).jpg" alt="Todos somos extraños" width="320px" height="440px" align="left">
    <h2>Todos somos extraños</h2>
    <p>
        Adam (Andrew Scott) tiene un encuentro casual con un misterioso vecino, Harry (Paul Mescal), 
        
        que rompe el ritmo de su vida cotidiana. A medida que se desarrolla una relación entre ellos, 
        
        Adam se preocupa por los recuerdos del pasado y se siente atraído de vuelta a la ciudad suburbana donde creció. 
        <br>
           


    </p>
    <br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/CJpDp9lU9Pw?si=nvFqIq1XIM3Fdwbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
      </footer>    
       
</body>
</html>