<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/patos.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>¡Patos!</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/patos2.webp" alt="¡Patos!" width="320px" height="430px" align="left">
    <h2>¡Patos!</h2>
    <p>
        Una familia de patos intenta convencer a su sobreprotector padre para que se vayan a las vacaciones de su vida.

    </p>
    <br><br>
    <iframe width="560" height="310" src="https://www.youtube.com/embed/z1lfO2kQ0F4?si=zdPoxxdASZOhdavY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  
</body>
</html>