<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pobres.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Pobres criaturas</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/pobres(16).jpg" alt="Pobres criaturas" width="320px" height="440px" align="left">
    <h2>Pobres criaturas</h2>
    <p>
        Bella Baxter (Stone), una joven a la que el brillante y poco ortodoxo científico Dr. Godwin Baxter (Willem Dafoe) le devuelve la vida. Bajo la protección de Baxter, Bella está ansiosa por aprender. Deseosa de la experiencia que le falta, Bella huye con Duncan Wedderburn (Mark Ruffalo), un abogado astuto y libertino, en una aventura vertiginosa a través de los continentes. 


    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SsEojV8hZ9I?si=Xo-zXRZ9LpnESthr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  
    

</body>
</html>