<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/precio.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Precios</title>
</head>
<body>
    <header id="headerr">
      <nav>
          <ul id="menuID">
              <li class="logo"><a href="#">CineScape</a></li>
              <li class="item"><a href="../index.html">Inicio</a></li>
              <li class="item"><a href="../templates/proximos.html">Proximos estrenos</a></li>
              <li class="item"><a href="../templates/recomendadas.html">Recomendadas</a></li>
              <li class="item"><a href="../templates/contacto.html">Contacto</a></li>
          </ul>
      </nav>
    </header>

    <main>
       <table border="2" cellspacing="0">
          <tr>
            <th  >Salas tradicionales</th>
            <th  >Precios</th>
            
          </tr>
          <tr>
            
                <td >Entrada General | Formato 2D</td>
                <td  >$5.900</td>
          </tr>     
          <tr>
               <td >Lunes, Martes y Miércoles 50% | 2D</td>
               <td>$2.950</td>
          </tr>    
          <tr>
              <td>Entrada General | Formato 3D</td>
              <td>$7.500</td>
          </tr> 
          <tr>
            <td>Lunes, Martes y Miércoles 50% | 3D</td>
            <td >$3.750</td>
          </tr> 
          <tr>
            <td >Niños y Mayores de 65 años</td></td>
            <td >$4.800</td>
          </tr>   
            

       </table>
       <p>Las tarifas web poseen cargo de servicio. El cargo del servicio es de $200 en salas tradicionales 2D y 3D.</p>

    </main>
    



    <footer>
      <div>
          <p>Derechos reservados @2024</p>
          <div>
              <img src="../img/instagram (1).png" alt="Instagram">
              <img src="../img/facebook.png" alt="Facebook">
          </div>
      </div>
    </footer> 


</body>
</html>