<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profecia.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>La primera profecía</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/profecia(17).jpg" alt="La primera profecia" width="320px" height="440px" align="left">
    <h2>La primera profecía</h2>
    <p>
        Cuando una joven estadounidense es enviada a Roma para comenzar una vida de servicio a la Iglesia, descubre una oscuridad que la lleva a cuestionar su propia fe y devela una conspiración aterradora que espera provocar el nacimiento de la encarnación del mal. LA PRIMERA PROFECÍA es protagonizada por Nell Tiger Free (Servant), Tawfeek Barhom (María Magdalena), Sonia Braga (El beso de la Mujer Araña), Ralph Ineson (El hombre del norte), y Bill Nighy (Living).

    </p>
    <iframe width="560" height="290" src="https://www.youtube.com/embed/mshz_1Y2HJo?si=vqcCWyTeZEm54qPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  

</body>
</html>