<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rascal.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Rascal</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/rascal(18).jpg" alt="Rascal" width="320px" height="440px" align="left">
    <h2>Rascal</h2>
    <p>
        ¡La combinación que no te puedes perder en cines con una función doble! El estreno de "Rascal does not dream of a Sister Venturing Out" y "Rascal does not dream of a Knapsack Kid", en la primer cinta Sakuta se encuentra disfrutando sus días en la preparatoria a lado de su novia Mai Sakurajima. La hermana menor de Sakuta, Kaede, le revelará un secreto que no le ha contado a nadie. 


    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PWT0FsoXOLs?si=sA-0LF-LJ60IG3Lu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  

</body>
</html>