<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recuerdos.css">
    <link rel="icon" href="../img/images-_1_.ico">
    <title>Recuerdos mortales</title>
</head>
<body>
    <header>
        <nav>
            <a href="#"class="logo" >CineScape</a>
            <a href="../templates/proximos.html">Proximos estrenos</a>
            <a href="../templates/recomendadas.html">Recomendadas</a>
            <a href="../templates/precios.html">Precios</a>
            <a href="../templates/contacto.html">Contacto</a>
            
            
        </nav>
    </header>
    <img class="imagen" src="../img/peliculas/recuerdos(19).jpg" alt="Recuerdos mortales" width="320px" height="440px" align="left">
    <h2>Recuerdos mortales</h2>
    <p>
        Después de someterse a un tratamiento de vanguardia para el Alzheimer, un ex detective de homicidios vuelve a examinar un caso de hace una década que involucra el brutal asesinato de un profesor universitario, y es como si estuviera investigando el caso por primera vez.
    </p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cSQOU0__a7M?si=z4Aco8-olkcDRF8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <footer>
    
        <h4>Derechos reservados @2024</h4>
        <img src="../img/instagram (1).png" alt="Instagram" style="width: 2vw; margin-left: 45vw;" >
        <img src="../img/facebook.png" alt="Facebook" style="width: 2vw; margin-right: 45vw;">
    </footer>  
</body>
</html>